/* Global Setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-ocean: rgb(34, 119, 205);
  --color-dark-ocean: rgb(34, 119, 210);
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* --color-myWorkBlie: rgb(151, 180, 241); */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --annimation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

blockquote {
  margin: 0;
}

/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  height: 80px;
  transition: all var(--annimation-duration) ease-in-out;
  z-index: 100;
}

#navbar.navbar--dark {
  background-color: var(--color-ocean);
  padding: 4px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo img {
  width: 65px;
  height: auto;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-ocean);
}

.navbar__toggle-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 40px;
  right: 0px;
  font-size: 32px;
  color: var(--color-white);
  transform: translate(-50%, -50%);
  display: none;
}

.navbar__toggle-btn::before {
  background: transparent;
}

/* arrow btn */

.arrow_btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--color-ocean);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  z-index: 100;
}

.arrow_btn i {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: var(--font-medium);
  color: var(--color-white);
}

/* Home */

#home {
  background: url(./imgs/home-background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  /* height: 100vh; */
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__description {
  margin-bottom: 30px;
}

.home__quote {
  width: 40%;
  height: auto;
  margin: 0 auto;
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.quote__content,
.quote__author {
  color: var(--color-white);
  font-weight: var(--weight-regular);
}

.quote__content {
  margin: 0 auto 30px;
}

/* Section Common */
.section {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.section__container {
  max-width: 1000px;
  margin: 0 auto;
}

/* About */

.about__title {
  margin-bottom: 80px;
}

.about__description span {
  line-height: 150%;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: 0;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__icon i {
  transition: all var(--annimation-duration) ease;
}

.major__icon i:hover {
  color: var(--color-dark-ocean);
  transform: scale(1.3);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.about__jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.job__logo {
  width: 100px;
}

.job__description {
  margin: 0 16px;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  box-sizing: border-box;
  padding: 50px;
  background-color: var(--color-blue);
}

#skills h2 {
  color: var(--color-white);
  margin-bottom: 30px;
}

#skills h3 {
  color: var(--color-white);
  margin-bottom: 50px;
}

.skillset {
  border: 2px solid var(--color-white);
  color: var(--color-light-white);
  padding: 40px;
  width: 70%;
  margin: 0 auto;
  border-radius: var(--size-border-radius);
}

.skillset__title {
  color: var(--color-white);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 16px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

#work h2 {
  margin-bottom: 30px;
}
#work h3 {
  margin-bottom: 50px;
}
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: 4px var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-ocean);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  display: inline-block;
  background-color: var(--color-blue);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--annimation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all var(--annimation-duration) ease-in;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h4 {
  color: var(--color-white);
}

.project__description h4:after {
  content: '';
  width: 100px;
  height: 2px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
  display: block;
}

.work__state {
  margin-top: 10px;
}

/* Contact */

#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contact__email,
.contact__links,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  font-size: var(--font-large);
  margin: 16px 0 32px 0;
}

.contact__email,
.contact__links {
  font-size: var(--font-medium);
  margin-bottom: 16px;
}

.contact__rights {
  font-size: var(--font-micro);
}

.contact__links i:hover {
  transform: scale(1.2);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .work__categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
